 This markdown tries to try to fix the problem in the missmatched lightnight data and geomad data for the city Eldoret

In [2]:
# Import necessary packages: These include custom MOSAIKS packages contained within the repo, as well as standard Python packages.
%reload_ext autoreload
%autoreload 2
%matplotlib inline
from mosaiks import config as c
from mosaiks.utils.imports import *
import os
import pandas as pd
import geopandas as gpd

In [7]:
data = {
        "X": [],
        "latlon": [],
        "City": []
    }

for city in ['Eldoret','Embu','Garissa','Kakamega','Kisumu','Kericho','Kitui','Machakos','Malindi','Mombasa','Nairobi','Naivasha','Nakuru','Nyeri','Thika']:
# Load mosaic features for geomad
    X, latlons = io.get_X_latlon(c,city, 100)
    data['X'].append(X)
    data['latlon'].append(latlons)
    data['City'].append(city)

In [48]:

df = pd.concat([X, latlons],axis= 1)
df

,X_0,X_1,X_2,X_3,X_4,X_5,X_6,X_7,X_8,X_9,...,X_248,X_249,X_250,X_251,X_252,X_253,X_254,X_255,lat,lon
"1,3",0.000000,inf,inf,inf,0.000000,inf,0.000000,0.000000,0.000000,inf,...,inf,inf,inf,inf,inf,inf,inf,0.000000,0.599922,35.198983
"1,17",inf,inf,inf,inf,0.754295,inf,inf,inf,inf,inf,...,inf,inf,inf,inf,inf,inf,inf,0.467505,0.599922,35.211710
"1,31",0.000000,inf,inf,inf,0.000000,inf,0.000000,0.000000,0.000000,inf,...,inf,inf,inf,inf,inf,inf,inf,0.000000,0.599922,35.224437
"1,45",0.000000,inf,inf,inf,0.000000,inf,0.000000,0.000000,0.000000,inf,...,inf,inf,inf,inf,inf,inf,inf,0.000000,0.599922,35.237164
"1,59",0.000000,inf,inf,inf,0.000000,inf,0.000000,0.000000,0.000000,inf,...,inf,inf,inf,inf,inf,inf,inf,0.000000,0.599922,35.249892
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
"174,98",0.000000,inf,inf,inf,0.000000,inf,0.000000,0.000000,0.000000,inf,...,inf,inf,inf,inf,inf,inf,inf,0.000000,0.442656,35.285346
"174,112",0.000000,inf,inf,inf,0.000000,inf,0.000000,0.000000,0.000000,inf,...,inf,inf,inf,inf,inf,inf,inf,0.000000,0.442656,35.298073
"174,126",0.000000,inf,inf,inf,0.000000,inf,0.000000,0.000000,0.000000,inf,...,inf,inf,inf,inf,inf,inf,inf,0.000000,0.442656,35.310801
"174,140",1.537149,inf,inf,inf,5.490370,inf,0.467701,inf,0.005902,inf,...,inf,inf,inf,inf,inf,inf,inf,1.959508,0.442656,35.323528
"174,154",inf,inf,inf,inf,1.641114,inf,inf,0.782103,inf,inf,...,inf,inf,inf,inf,inf,inf,inf,0.735029,0.442656,35.336255

In [29]:
house = pd.read_csv("C:\\Users\\DELL\\Documents\\Github\\kanyan\\Kenya-Land-Value\\data\\int\\applications\\housing\\concatenated_housing.csv")
df = pd.read_csv("C:\\Users\\DELL\\Documents\\Github\\kanyan\\Kenya-Land-Value\\data\\int\\applications\\lightnight\\concatenated_nightlight_2013_16.csv")

In [30]:
ehouse = house[house['City'] == 'Eldoret']
gdf = gpd.GeoDataFrame(df, geometry=gpd.points_from_xy(df.lon, df.lat))

In [35]:
ghouse = gpd.GeoDataFrame(ehouse, geometry=gpd.points_from_xy(ehouse.lon, ehouse.lat))
house = gpd.GeoDataFrame(house, geometry=gpd.points_from_xy(house.lon, house.lat))
join = gpd.sjoin(ghouse,gdf, how="inner")

In [52]:
# Specify the path to the output concatenated .npz file
output_file = "C:\\Users\\DELL\\Documents\\Github\\kanyan\\Kenya-Land-Value\\data\\int\\applications\\lightnight\\concatenated_nightlight_2013_16.csv"
df.to_csv(output_file, index=False)